.profileCard {
  height: 200px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.name {
  font-size: 1.5rem;
}
